$primary-text-color: #757575;
$secondary-text-color: #212121;
$primary-accent-color: #2196f3;
$secondary-accent-color: #188ce8;
$primary-white-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$icon-color-main: #afb1b8;
$icon-color-footer: rgba(255, 255, 255, 0.6);
$footer-bg-color: #2f303a;
$hero-bg-color: rgba(47, 48, 58, 0.8);

$main-font-style: Roboto, sans-serif;